@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off_white: hsl(36, 100%, 99%);
  --Grayish_blue: hsl(233, 8%, 79%);
  --Dark_grayish_blue: hsl(236, 13%, 42%);
  --Very_dark_blue: hsl(240, 100%, 5%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 14px;
}

ul > li {
  list-style: none;
}
img,
svg {
  max-width: 100%;
  display: block;
}
@media screen and (width<991px) {
  .navbarforPC {
    display: none;
  }
  .content {
    width: 380px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    align-content: start;
  }
  .logombl {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
  }
  .menumobile {
    position: fixed;
    top: 2rem;
    right: 3rem;
    z-index: 3;
  }
  .navbarListmobile {
    position: fixed;
    background-color: #ffffff;
    height: 100%;
    right: 0px;
    top: 0rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem 0rem 0 3rem;
    visibility: hidden;
    z-index: 2;
  }
  .visible {
    visibility: visible;
  }
  .backgroundOpacity {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
    opacity: 0;
  }
  .opacityControl {
    opacity: 0.5;
  }
  .heroSection {
    margin-top: 5rem;
  }
  .heroTitle {
    font-size: 2rem;
    font-weight: 800;
  }
  .heroText {
    color: var(--Dark_grayish_blue);
  }
  button {
    height: 40px;
    width: 150px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    margin-top: 20px;
    background-color: var(--Soft-red);
  }
  .section {
    background-color: var(--Very_dark_blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.9rem;
    line-height: 1.5;
  }
  .section p {
    color: var(--Dark_grayish_blue);
  }
  .common {
    height: 100px;
    display: flex;
    gap: 1rem;
  }
  .common img {
    height: 100%;
  }
  .add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .add span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Grayish_blue);
  }
  .add p {
    font-size: 14px;
    color: var(--Dark_grayish_blue);
  }
}

@media screen and (width>=991px) {
  .menu,
  .logombl,
  .menu,
  .navbarListmobile,
  .backgroundOpacity {
    display: none;
  }
  .content {
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 1fr) 200px;
    grid-template-areas:
      "a a a"
      "h h s"
      "h h s"
      "ht hp s"
      "r l g";
    gap: 1.4rem;
  }

  .navbar {
    grid-area: a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbarList {
    display: grid;
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: end;
    color: var(--Dark_grayish_blue);
  }

  .heroSection {
    grid-area: h;
  }

  .heroSection > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section {
    grid-area: s;
    background-color: var(--Very_dark_blue);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    color: #fff;
    padding: 2rem;
    line-height: 1.4;
  }

  .section h1 {
    font-size: 1.5rem;
    color: var(--Soft-orange);
  }

  .section p {
    color: var(--Grayish_blue);
  }

  .heroTitle {
    grid-area: ht;
    font-size: 3rem;
    font-weight: 900;
  }

  .heroText {
    grid-area: hp;
    color: var(--Dark_grayish_blue);
    font-size: 1rem;
    line-height: 1.4;
  }
  .heroText button {
    height: 40px;
    width: 150px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    margin-top: 83px;
    background-color: var(--Soft-red);
  }
  .retro {
    grid-area: r;
  }
  .retro img {
    height: 100%;
  }
  .laptop {
    grid-area: l;
  }
  .laptop img {
    height: 100%;
  }
  .game {
    grid-area: g;
  }
  .game img {
    height: 100%;
  }
  .common {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }
  .add {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-left: 1rem;
  }
  .add span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Grayish_blue);
  }
  .add p {
    font-size: 1vw;
    color: var(--Dark_grayish_blue);
  }
}
